.reg {

    &__inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -20px;
    }

    &__text-box {
        color: $black;
        flex: 1 1 370px;
        margin: 0 10px;
    }

    &__title {
        font-family: 'Palatino Linotype';
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 11px;
    }

    &__text {
        line-height: 20px;

        @media (max-width:768px) {
            margin-bottom: 20px;
        }
    }

    &__form {
        flex: 1 1 370px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        color: $black;

        label {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.form {

    &__input {
        background: rgba(82, 80, 59, 0.02);
        border: 1px solid #E5E7EB;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 100%;
        height: 38px;
        padding: 5px 10px;
        transition: $transition;

        &:focus {
            border: 1px solid #b6b6b8;
        }
    }

    // &__input-name {}

    // &__input-email {}

    &__btn {
        background: #353732;
        border-radius: 6px;
        padding: 10px;
        text-transform: uppercase;
        color: #fff;
        // display: inline-block;
        width: 82px;
        transition: $transition;

        &:hover,
        &:focus {
            background: $black-hover;
        }

        &:active {
            background: $black-active;
        }
    }
}